<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.OperationLogMapper">

    <!-- 插入操作日志 -->
    <insert id="insertLog" parameterType="com.auggie.student_server.entity.OperationLog">
        INSERT INTO operation_log (module, action, operator, timestamp, request_id, status, host)
        VALUES (#{module}, #{action}, #{operator}, #{timestamp}, #{requestId}, #{status}, #{host})
    </insert>

    <!-- 全部查询 -->
    <select id="findAll" resultType="com.auggie.student_server.entity.OperationLog">
        SELECT id, module, action, operator, timestamp, request_id AS requestId, status, host
        FROM operation_log
    </select>

    <!-- 条件查询 -->
    <select id="findByCriteria" parameterType="map" resultType="com.auggie.student_server.entity.OperationLog">
        SELECT id, module, action, operator, timestamp, request_id AS requestId, status, host
        FROM operation_log
        <where>
            <if test="params.id != null">
                id = #{params.id}
            </if>
            <if test="params.module != null and params.module != ''">
                AND module = #{params.module}
            </if>
            <if test="params.action != null and params.action != ''">
                AND action = #{params.action}
            </if>
            <if test="params.operator != null and params.operator != ''">
                AND operator = #{params.operator}
            </if>
            <if test="params.requestId != null and params.requestId != ''">
                AND request_id = #{params.requestId}
            </if>
            <if test="params.status != null and params.status != ''">
                AND status = #{params.status}
            </if>
            <if test="params.host != null and params.host != ''">
                AND host = #{params.host}
            </if>
            <if test="params.startTime != null and params.endTime != null">
                AND timestamp BETWEEN #{params.startTime} AND #{params.endTime}
            </if>
        </where>
    </select>

</mapper>