<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.auggie.student_server.entity.Student">
        <id column="sid" property="sid" />
        <result column="sname" property="sname" />
        <result column="password" property="password" />
        <result column="id_number" property="idNumber" />
        <result column="ethnicity" property="ethnicity" />
        <result column="college" property="college" />
        <result column="political_status" property="politicalStatus" />
        <result column="grade" property="grade" />
        <result column="subject" property="subject" />
        <result column="campus" property="campus" />
    </resultMap>
    <select id="findAll" resultMap="StudentResultMap">
        SELECT sid, sname, password, id_number, ethnicity, college, political_status, grade, subject, campus
        FROM studentms.s;
    </select>

    <select id="findById" resultMap="StudentResultMap">
        SELECT sid, sname, password, id_number, ethnicity, college, political_status, grade, subject, campus
        FROM studentms.s
        WHERE sid = #{sid};
    </select>

    <select id="findBySearch" resultType="Student">
        SELECT * FROM studentms.s
        <where>
            <if test="student.sid != null">
                sid = #{student.sid}
            </if>
            <if test="student.sname != null">
                <if test="fuzzy == 0">
                    AND sname = #{student.sname}
                </if>
                <if test="fuzzy == 1">
                    AND sname LIKE CONCAT('%', #{student.sname}, '%')
                </if>
            </if>
        </where>
    </select>

<!--    <update id="updateById">-->
<!--        UPDATE studentms.s SET-->
<!--                               sname = #{student.sname},-->
<!--                               password = #{student.password}-->
<!--        WHERE sid = #{student.sid};-->
<!--    </update>-->
    <update id="updateById">
        UPDATE studentms.s
        <set>
            <if test="student.sname != null">
                sname = #{student.sname},
            </if>
            <if test="student.password != null">
                password = #{student.password},
            </if>
            <if test="student.idNumber != null">
                id_number = #{student.idNumber},
            </if>
            <if test="student.ethnicity != null">
                ethnicity = #{student.ethnicity},
            </if>
            <if test="student.college != null">
                college = #{student.college},
            </if>
            <if test="student.politicalStatus != null">
                political_status = #{student.politicalStatus},
            </if>
            <if test="student.grade != null">
                grade = #{student.grade},
            </if>
            <if test="student.subject != null">
                subject = #{student.subject},
            </if>
            <if test="student.campus != null">
                campus = #{student.campus},
            </if>
        </set>
        WHERE sid = #{student.sid};
    </update>

    <insert id="save">
        INSERT INTO studentms.s
        (sname, password, id_number, ethnicity, college, political_status, grade, subject, campus)
        VALUES
            (#{student.sname}, #{student.password}, #{student.idNumber}, #{student.ethnicity},
             #{student.college}, #{student.politicalStatus}, #{student.grade}, #{student.subject}, #{student.campus});
    </insert>

    <delete id="deleteById">
        DELETE FROM studentms.s WHERE sid = #{sid};
    </delete>
</mapper>
